.urgent {
    padding-top: 10px;
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
}

.name {
    font-size: 2rem;
    font-weight: 500;
}

.layout {
    height: 180px;

    > div {
        height: 100%;
    }
}
