.carousel {
   position: relative;
   overflow: hidden;
   height: 570px;
}

.content {
   margin: 0;
   padding: 0;
}

.content li {
   margin: 0;
   padding: 0;
   width: 100%;
   list-style: none;
   text-align: center;
   position: absolute;
   opacity: 0;

   transition: 1s;
}

.content li.active {
   opacity: 1;

   transition: 1s;
}
