.layout {
    position: absolute;
    bottom: 0;
    height: 138px;
    width: 100%;
    margin: 0 !important;


    div {
        height: 100%;
    }
}

.clock {
    font-size: 3rem;
    line-height: 1.1;
    padding-top: 23px !important;
}
