.time {
    font-size: 3.8rem;
    font-weight: 400;
    text-transform: uppercase;

    i {
        font-size:63px;
        top: 10px;
        position: relative;
    }
}

.name {
    font-size: 2rem;
    font-weight: 500;
}
